<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products (admin)</title>
    <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
    <h1 class="page-heading">Add Products (by admin)</h1>
    <form action="/" class="form" id="form">
        <div class="form-heading">
            <h2>Add products</h2>
            <a href="../index.html">
                <p>Home</p>
            </a>
        </div>
        <input type="number" name="ItemCode" id="itemCode" placeholder="Item Code" required>
        <input type="number" name="price" id="price" placeholder="Price" required>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="text" name="title" id="title" placeholder="Long Title" required>
        <input type="text" name="brand" id="brand" placeholder="Brand" required>
        <input type="url" name="image" id="image" placeholder="Poster-URL" required>
        <input type="text" name="description" id="desc" placeholder="Description" required>
        <button type="submit" class="submit">Add</button>
    </form>

    <script src="/javascript/admin.js"></script>
</body>

</html>