<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
    <h1 class="page-heading">Log in to geekbuying.com</h1>
    <form action="/" class="form" id="form">
        <div class="form-heading">
            <h2>SignIn to your account</h2>
            <a href="signup.html">
                <p>Sign Up</p>
            </a>
        </div>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit" class="submit">Log In</button>
    </form>

    <script src="/javascript/signin.js"></script>
</body>

</html>